DATABASE_URL="Add your databse url here eg: mysql+pymysql://root:shivam@localhost:3306/hotel_db"
JWT_SECRET_KEY="Your secret key for JWT"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD_HASH="your hashed password for admin user"